# Folders
port/client/node_modules
port/server/node_modules
node_modules
.vscode/
test/
vsix/


# Source of icon files
**/icons.svg


# Other Files
**/tsconfig.json
**/tslint.json
*-lock.json
*.map
*.log