# Folders
front/node_modules
node_modules
.vscode/
test/
vsix/


# Configs
**/ai.config.json


# Source of icon files
**/icons.svg


# Other Files
**/tsconfig.json
**/tslint.json
*-lock.json
*.map
*.log