<!-- nabotx/views/panel.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NaBotX</title>
    ${styles} ${scripts}
  </head>
  <body>
    <div class="headerContainer">
      <header>
        <img width="42rem" src="${logo.svg}" alt="NaBotX Logo" />
        <label>NaBotX</label>
      </header>
      ${tabView}
    </div>
    <div>
      <div class="space"></div>
      <div
        id="chatMessages"
        role="log"
        aria-live="polite"
        aria-relevant="additions"
      ></div>
      <div class="space"></div>
    </div>
    <div class="input-wrapper">
      <textarea
        id="userInput"
        placeholder="Type your message..."
        autocomplete="off"
        aria-label="Message input"
        autofocus
      ></textarea>
      <button id="sendButton" class="icon-btn" title="Send Message">
        <img width="15rem" src="${send.png}" alt="Send Message" />
      </button>
    </div>

    <script>
      const vscode = acquireVsCodeApi();
      const chatMessages = $("#chatMessages");
      const sendButton = $("#sendButton");
      const userInput = $("#userInput");
      let msgArray = [
        {
          role: "assistant",
          content: "${rules}",
        },
      ];

      function addMessage(text, fromUser = true) {
        const msgDiv = $("<div>")
          .addClass("message")
          .addClass(fromUser ? "user" : "bot");

        if (text.length > 150 && fromUser) {
          const shortText = text.substring(0, 150);
          const remainingText = text.substring(150);

          const shortSpan = $("<span>").text(shortText);
          const moreButton = $("<button>")
            .text("More...")
            .addClass("more-button");
          const fullSpan = $("<span>").text(remainingText).hide();

          moreButton.click(() => {
            fullSpan.show();
            moreButton.hide();
          });

          msgDiv.append(shortSpan, moreButton, fullSpan);
        } else {
          msgDiv.text(text);
        }

        chatMessages.append(msgDiv).scrollTop(chatMessages[0].scrollHeight);
      }

      function addBotMessage(response) {
        const msgDiv = $("<div>").addClass("message bot");
        if (response?.choices?.[0]?.message?.content) {
          let content = response.choices[0].message.content;

          const markedContent = marked.parse(content);

          msgDiv.html(markedContent);
          chatMessages.append(msgDiv).scrollTop(chatMessages[0].scrollHeight);

          msgDiv.find("pre code").each(function () {
            const codeElement = $(this);
            const code = codeElement.text();

            highlightCode(codeElement, code);

            const btnReplace = "${btn-replace.png}";
            const btnAppend = "${btn-append.png}";
            const btnCopy = "${btn-copy.png}";

            codeElement.parent().css("position", "relative").append(`
          <div class="code-btns-container">
            <img src="${btnAppend}"   alt="Append in File"  />
            <img src="${btnReplace}"  alt="Replace File"    />
            <img src="${btnCopy}"     alt="Copy File"       />
          </div>
         `);

            codeElement
              .parent()
              .find(".code-btns-container img:eq(0)")
              .click(() => {
                vscode.postMessage({ command: "appendToActiveFile", code });
              });
            codeElement
              .parent()
              .find(".code-btns-container img:eq(1)")
              .click(() => {
                vscode.postMessage({ command: "replaceActiveFile", code });
              });
            codeElement
              .parent()
              .find(".code-btns-container img:eq(2)")
              .click(() => {
                vscode.postMessage({ command: "copyCodeBlock", code });
              });
          });
          msgArray.push({ role: "assistant", content: markedContent });
        } else {
          msgDiv.text("No response from bot.");
          chatMessages.append(msgDiv).scrollTop(chatMessages[0].scrollHeight);
        }
      }

      function highlightCode(codeElement, code) {
        Prism.highlightElement(codeElement[0]);
      }

      function clearChat() {
        msgArray = [
          {
            role: "assistant",
            content: "${rules}",
          },
        ];
        chatMessages.html("");
      }

      async function sendToLLM(message) {
        msgArray.push({ role: "user", content: message });

        try {
          const response = await fetch("${path}", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Authorization: "Bearer ${token}",
            },
            body: JSON.stringify({
              model: "${model}",
              messages: msgArray,
            }),
          });
          if (!response.ok)
            throw new Error(`${response.status} - ${await response.text()}`);
          return await response.json();
        } catch (error) {
          console.error("Error:", error);
          return {
            choices: [
              {
                message: {
                  content: "Error communicating with the LLM: " + error.message,
                },
              },
            ],
          };
        }
      }

      sendButton.click(() => {
        const text = userInput.val().trim();
        if (!text) return;

        let combinedMessage = text + "\n\n---\nRules: ${rules}";

        proceedToSend(text, combinedMessage);
      });

      async function proceedToSend(userText, combinedMessage) {
        addMessage(userText);
        userInput.val("");
        sendButton.prop("disabled", true);
        const response = await sendToLLM(combinedMessage);

        addBotMessage(response);
        sendButton.prop("disabled", false).focus();
      }

      userInput.on("keydown", (e) => {
        if (e.key === "Enter") {
          sendButton.click();
          e.preventDefault();
        }
      });

      window.addEventListener("message", (event) => {
        const message = event.data;

        switch (message.command) {
          case "addTextToChat":
            msgArray.push({ role: "user", content: message.text });
            addMessage(message.text, true);
            break;
        }
      });
    </script>
  </body>
</html>
