<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NaBotX</title>
    ${styles} ${scripts}
  </head>
  <body>
    <div class="headerContainer">
      <header>
        <img src="${logo3.svg}" alt="NaBotX Logo" />
      </header>
      ${tabView}
    </div>
    <div>
      <div class="space"></div>
      <div
        id="chatMessages"
        role="log"
        aria-live="polite"
        aria-relevant="additions"
      ></div>
      <div class="space"></div>
    </div>
    <div class="input-wrapper">
      <button onclick="clearChat()" class="icon-btn" title="Clear Chat">
        <img width="15rem" src="${clear.png}" alt="Clear Chat" />
      </button>
      <textarea
        id="userInput"
        placeholder="Type your prompt or use /command"
        autocomplete="off"
        aria-label="Message input"
        autofocus
      ></textarea>
      <button id="sendButton" class="icon-btn" title="Send Message">
        <img width="15rem" src="${send.png}" alt="Send Message" />
      </button>
    </div>

    <script>
      const vscode = acquireVsCodeApi();

      const btnOpenCodeFile = "${btn-open-code-file.png}";
      const btnReplace = "${btn-replace.png}";
      const btnAppend = "${btn-append.png}";
      const btnCopy = "${btn-copy.png}";
      const btnDiff = "${btn-diff.png}";
      const btnUndo = "${btn-undo.png}";

      const token = "${token}";
      const model = "${model}";
      const path = "${path}";
      const rules = "${rules}";
    </script>
  </body>
</html>
