<tabs>
  &nbsp; &nbsp;
  <img src="${logo4.svg}" alt="NaBotX Logo" width="40rem" />
  &nbsp; &nbsp;
  <div style="width: 100%; text-align: right">
    <label style="font-size: 90% !important">Model:</label>
  </div>
  &nbsp; &nbsp;
  <div>
    <select name="modelSelect" style="display: inline-block">
      <option value="${model}">${model}</option>
    </select>
  </div>
  &nbsp; &nbsp;
</tabs>

<template class="tabTemplate">
  <tab>
    <div contenteditable="false" class="tabTitle"></div>
    <img class="remTab" src="${plus.png}" />
  </tab>
</template>
