.CodeForm-ImageButton {
  cursor: pointer;
  user-select: none;
  text-align: center;
  padding-left: 0.25em;
  padding-right: 0.25em;
  display: inline-block;
  border: 2px solid transparent;
}

.CodeForm-ImageButton * {
  display: block;
}

.CodeForm-ImageButton span {
  color: black;
  font-size: 65%;
  margin-top: 0.25em;
}

.CodeForm-ImageButton.Active {
  border-radius: 0.2em;
  border: 2px solid rgb(196, 196, 196);
}
