tabs {
  display: flex;
  align-items: center;
  padding: 0.4rem 0;
  background: var(--vscode-editorWidget-background);
  border-bottom: 1px solid var(--vscode-editorWidget-border, #ddd);
}

tab {
  position: relative;
  min-width: 3rem;
  margin: 0 0.3rem;
  padding: 0.1rem 0.6rem;
  cursor: pointer;
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 0.25rem;
  height: 1.79rem !important;
  line-height: 1.6rem;
}

tab.active {
  background-color: var(--vscode-input-background);
  color: var(--vscode-editor-foreground);
  border-bottom: none;
}

tabs .addTab {
  cursor: pointer;
  width: 1.2rem;
  border: none;
  padding-right: 0.5rem;
}

tabs .addTab:hover,
tabs .remTab:hover {
  opacity: 0.5;
  transition: opacity 300ms;
}

tabs .remTab {
  position: absolute;
  top: 0.1rem;
  right: 0.3rem;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  transform: rotate(45deg);
}

/* Styled combo box */
tabs select {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid var(--vscode-editorWidget-border);
  background-color: var(--vscode-input-background);
  color: orange;
  padding: 0.3rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  cursor: pointer;
}